.bar1{
    transform:rotate(-45deg) translate(-12px,15px);
}

.bar2{
    transform:scale(0);

}

.bar3{
    transform:rotate(45deg) translate(-6px,-10px);

}

.show{
    transform:translateX(0%);
}
.hide{
    transform:translateX(100%);
}